@model Humber_Timesheet_Tracker.Models.CourseTaskDto
@{
    ViewBag.Title = "Details";
}



<div class="wrapper" id="taskdetail" >
    <h2>
        Taskname:
        <a href="/CourseTask/Edit/@Model.CourseTaskId"> @Model.CourseTaskName</a>
    </h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Task description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary">
                <td>
                    <p>Tasktime: @Model.CourseTaskTime seconds</p>
                </td>
                <td>
                    <p>Coursename: @Model.CourseName</p>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <a href="/CourseTask/DeleteConfirm/@Model.CourseTaskId" class="btn btn-outline-primary">Delete Course</a>
                </td>
                <td>
                    <a href="/CourseTask/List" class="btn btn-outline-primary">Back</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>