@model Humber_Timesheet_Tracker.Models.CourseDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Course?</h2>
<a href="/Course/List">Cancel</a>
<h3>Coursename: @Model.CourseName</h3>
<form action="/Course/Delete/@Model.CourseId" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>
