@model Humber_Timesheet_Tracker.Models.ViewModels.DetailsCourse
@{
    ViewBag.Title = "Details";
}

<a href="/Course/List">Go back to list</a>
<br />
<a href="/Course/Edit/@Model.SelectedCourse.CourseId">Update</a>
<br/>
<a href="/Course/DeleteConfirm/@Model.SelectedCourse.CourseId">Delete</a>
<h2>@Model.SelectedCourse.CourseName</h2>
<p>Coursename: @Model.SelectedCourse.CourseName</p>

<div style="margin-top:100px;">
    <h3>Coursetasks related to this course</h3>
    @foreach(var coursetask in Model.RelatedCourseTasks)
    {
        <a href="/CourseTask/Details/@coursetask.CourseTaskId">@coursetask.CourseTaskName</a>
    }
</div>