@model Humber_Timesheet_Tracker.Models.ViewModels.DetailsCourse
@{
    ViewBag.Title = "Details";
}


<div class="wrapper" id="coursetaskdetail">
    <h2> Coursename:
<a href="/Course/Edit/@Model.SelectedCourse.CourseId"> @Model.SelectedCourse.CourseName</a>
    </h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Task Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coursetask in Model.RelatedCourseTasks)
        {
            <tr class="table-secondary">
                <td>
                    <a href="/CourseTask/Details/@coursetask.CourseTaskId" class="name">@coursetask.CourseTaskName</a>
                </td>
                <td>
                    <a href="/CourseTask/Edit/@coursetask.CourseTaskId" class="btn btn-outline-primary">Update</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <a href="/CourseTask/New" class="btn btn-outline-primary">Add Task</a>
                <a href="/Course/DeleteConfirm/@Model.SelectedCourse.CourseId" class="btn btn-outline-primary">Delete Course</a>
            </td>
            <td>
                <a href="/Course/List" class="btn btn-outline-primary">Back</a>
            </td>
        </tr>
    </tfoot>
</table>
</div>