@model Humber_Timesheet_Tracker.Models.CourseDto
@{
    ViewBag.Title = "Edit";
}

<h2>Update course</h2>
<form action="/Course/Update/@Model.CourseId" method="Post">
    <div style="display:none;">
        <input type="text" name="CourseId" value="@Model.CourseId" />
    </div>
    <div>
        <label>Coursename:</label> <input type="text" name="CourseName" value="@Model.CourseName"/>
    </div>
    <div>
        <input type="submit" value="Update course" />
    </div>
</form>

