@model Humber_Timesheet_Tracker.Models.CourseDto
@{
    ViewBag.Title = "Edit";
}


<div id="edit" class="wrapper">
    <form action="/Course/Update/@Model.CourseId" method="Post">
        <fieldset>
            <legend>Update Course</legend>
            <div class="form-group" style="display:none;">
                <input type="text" name="CourseId" value="@Model.CourseId" required/>
            </div>
            <div class="form-group">
                <label for="CourseName" class="form-label mt-4">Course Name</label>
                <input type="text" class="form-control" id="CourseName" name="CourseName" value="@Model.CourseName" required/>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Update Course" class="btn btn-outline-primary" />
            </div>
        </fieldset>
    </form>
    <a href="/Course/List" class="btn btn-outline-primary mt-4">Cancel</a>
</div>