@model IEnumerable<Humber_Timesheet_Tracker.Models.CourseDto>

@{
    ViewBag.Title = "List";
}
<div class="wrapper">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>course name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr class="table-secondary">
                    <td>
                        <a href="/course/details/@course.CourseId">@course.CourseName</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <a href="/course/new" class="btn btn-outline-primary">Add course</a>
                    <a href="/CourseTask/New" class="btn btn-outline-primary">Add Task</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

