@model IEnumerable<Humber_Timesheet_Tracker.Models.CourseDto>

@{
    ViewBag.Title = "List";
}


<div class="card m-4 shadow">
    <div class="card-header">
        <h2 class="card-title">
            <span class="text-dark">Course</span>
        </h2>
        <h6 class="card-subtitle">List</h6>
    </div>

    <div class="card-body">

    <ul class="list-group">
        @foreach (var course in Model)
        {
            <li class="list-group-item d-flex justify-content-between">

                <a href="/course/details/@course.CourseId">@course.CourseName</a>
                <div>

                <a href="/course/edit/@course.CourseId" class=" text-decoration-none badge bg-success">update</a>
                <a href="/course/deleteConfirm/@course.CourseId" class="text-decoration-none badge bg-danger">delete</a>
                </div>

            </li>

        }
    </ul>
    <div class="d-flex justify-content-end">
        <a href="/course/new" class="btn btn-outline-primary mt-2">Add course</a>

    </div>
    </div>


</div>

