
@{
    ViewBag.Title = "New";
}

<h2>Create course</h2>
<form action="/Course/Create" method="Post">
    <div>
        <label>Coursename:</label> <input type="text" name="CourseName" />
    </div>
    <div>
        <input type="submit" value="Add course" />
    </div>
</form>

